.wrapper {
	margin: 50px auto;
	max-width: 800px;
	padding: 20px;
	background: url('https://www.google.cz/imgres?imgurl=http%3A%2F%2Fwww.publicdomainpictures.net%2Fpictures%2F70000%2Fvelka%2Fold-parchment.jpg&imgrefurl=http%3A%2F%2Fwww.publicdomainpictures.net%2Fview-image.php%3Fimage%3D69394%26picture%3D%26jazyk%3DCS&docid=2-_eqABlqbmtmM&tbnid=HK8OI5H0_xJ9aM%3A&vet=10ahUKEwjikLDR_97TAhVBtRoKHY_zB98QMwglKAEwAQ..i&w=1920&h=1271&hl=cs&bih=588&biw=1366&q=publicdomainpictures%20pergamen&ved=0ahUKEwjikLDR_97TAhVBtRoKHY_zB98QMwglKAEwAQ&iact=mrc&uact=8')
}

.header {
	padding: 30px 0;
	border-bottom: solid;
	font-family: "Comic Sans MS";
	color: #006400;
}

.content {
	float: right;
	width: 75%;
	border-left: solid;
	padding-left: 30px;
	font-family: "Comic Sans MS";
	color: #0000FF;
	background: url('http://www.publicdomainpictures.net/pictures/120000/velka/watercolor-floral-paper.jpg'); 
}

nav {
	float: left;
	width: 15%;
}

nav ul {
	list-style-type: none;
	padding: 0;
}
