.wrapper {
	margin: 50px auto;
	max-width: 800px;
	padding: 20px;
	background: url('http://www.publicdomainpictures.net/pictures/120000/velka/watercolor-floral-paper.jpg');
}

.header {
	padding: 30px 0;
	border-bottom: solid;
	font-family: "Comic Sans MS";
	color: #006400;
}

.content {
	float: right;
	width: 75%;
	border-left: solid;
	padding-left: 30px;
	font-family: "Comic Sans MS";
	color: #0000FF;
	background: url('http://www.publicdomainpictures.net/pictures/120000/velka/watercolor-floral-paper.jpg'); 
}

nav {
	float: left;
	width: 15%;
}

nav ul {
	list-style-type: none;
	padding: 0;
}
